body#body {
    color: #83868a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    min-width: 980px;
    padding: 0;
}

p {
    margin-bottom: 15px;
}

a {
    color: #459aaa;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #83868a;
}

#page-wrapper strong {
    color: #2b2b2b;
}

#page {}

#header {
    background-color: #005160;
    position: relative;
}

.header-wrapper {
    width: 940px;
    margin: 0 auto;
}

#header .glow {
    padding-top: 69px;
}

#header .glow:after {
    clear: both;
    display: block;
    width: 100%;
    content: "";
}

#name-and-slogan {
    color: #459aaa;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    padding-left: 45px;
    margin-top: -1px;
}

.section-1 {
    padding-bottom: 50px;
}

.section-1 .inner {
    padding-bottom: 21px;
}

.section-1 .inner:after {
    clear: both;
    width: 100%;
    content: "";
    display: block;
}

.section-1 .col1 {
    float: left;
}

.section-1 .col2 {
    float: right;
    padding-top: 23px;
}

.section-2 {
    height: 40px;
    background: #fcfcfc;
}

#header #logo {
    margin: 0 20px 0 0;
}

#header #site-name-slogan {
    float: left;
}

#header #site-name {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

#header #site-name a {
    text-decoration: none
}

#superfish-1 {
    background: none;
    float: left;
    margin: 0px;
    position: relative;
    width: auto;
}

#superfish-1>li {
    border: 0;
    overflow: inherit;
    padding: 0 16px 0 0;
    margin-right: 16px;
    text-align: center;
}

#superfish-1>li.last {
    background: none;
    padding: 0;
    margin-right: 0;
}

#superfish-1>li>a {
    border: 0;
    color: #b1d9de;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    position: relative;
}

#superfish-1>li>a .sf-sub-indicator {
    top: 17px;
    margin-left: -2px;
    left: 50%;
    width: 5px;
    height: 3px;
}

#superfish-1>li>a:hover,
#superfish-1>li>a.active,
#superfish-1>li>a.sfHover {
    color: #52bed2;
    font-weight: bold;
    text-decoration: underline;
}

#superfish-1 ul {
    background: #10424e;
    border: 0px solid #1b1b1b;
    display: none;
    padding: 25px 0 15px;
    top: 25px;
    left: -45px;
    border-radius: 5px;
    width: 136px!important;
}

.sf-navbar>li>ul {
    margin-top: 3px;
}

#superfish-1 ul li {
    background: none;
    border-bottom: 0;
    height: auto;
    padding: 0;
    font-size: 10px;
    line-height: 20px;
    padding-bottom: 14px;
}

#superfish-1 ul li a:visited,
#superfish-1 ul li a {
    text-decoration: none;
    color: #b1d9de;
    text-transform: uppercase;
    text-align: left;
    margin-left: 18px;
}

#superfish-1 ul li a:hover,
#superfish-1 ul li a.active {
    color: #fff;
}

#superfish-1 ul li ul {
    left: 127px!important;
    padding: 10px 0!important;
    top: 0!important;
    background: #fff;
}

#superfish-1 ul li ul li {
    background: none;
    margin-bottom: 1px;
}

#breadcrumb {
    color: #000;
    margin-top: 16px;
    padding: 0px 3px 15px;
}

#breadcrumb a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    padding: 0 3px;
}

#breadcrumb a:last-child {
    padding-right: 0;
}

#breadcrumb a:hover {
    color: #242424;
}

#main-wrapper {
    background: #ebebeb;
}

#main-wrapper #main {
    margin: 0 auto;
    overflow: hidden;
    width: 940px;
    padding: 58px 0 25px;
}

.section .region {
    width: 100%;
}

#sidebar-first {
    width: 300px;
    float: left;
}

#sidebar-first .section {
    padding: 0px 20px 0px 0px;
}

#content {
    overflow: hidden;
}

#content .section {
    width: 100%;
}

#sidebar-second {
    float: right;
    width: 298px;
}

#sidebar-second+#content {
    padding-right: 50px;
    border-right: 1px solid #d3d3d3;
}

#sidebar-second .section {
    padding: 0px 0px 0px 39px;
}

.region-content {
    overflow: hidden;
}

.tabs-wrapper {
    margin: 1px 0 20px;
}

div.tabs {
    overflow: hidden;
}

.tabs ul.primary {
    border: 0;
    border-bottom: 1px solid #c9c9c9;
    margin: 10px 0 10px 0;
    overflow: hidden;
    padding: 4px 0;
}

.tabs ul.primary li {
    margin-bottom: -1px;
}

.tabs ul.primary li a {
    background: #EDEDED;
    border: 1px solid #BBB;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 3px 15px 4px;
    text-shadow: 0 1px 0 #FFF;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
}

.tabs ul li a.active,
.tabs ul li a:hover {
    background: #242424;
    color: #fff;
    text-shadow: none;
}

#comments {
    margin-bottom: 30px;
}

article.comment header {
    width: 100%;
    overflow: hidden;
}

.user-picture {
    float: left;
    margin-right: 15px;
}

section#comments h2.title {
    color: #292a2b;
    font-size: 18px;
}

#comment-form label,
#contact-site-form label {
    color: #484848;
}

#comment-form input[type="text"],
#comment-form input[type="password"],
#comment-form textarea {
    width: 100%;
}

#comment-form .form-submit {
    margin-right: 10px;
}

.form-required {
    color: #f00!important;
}

#comment-form .form-text,
#user-login .form-text,
#contact-site-form input.form-text,
.search-form .form-text {
    width: 220px;
}

#comment-form .form-textarea {
    height: 120px;
}

#comment-form .form-type-textarea {
    margin-bottom: 15px;
}

.resizable-textarea .grippie {
    display: none;
}

.form-type-item {
    overflow: hidden;
    width: 100%;
}

.form-type-item label {
    float: left;
    padding-right: 10px;
}

.form-type-item a {
    color: #242424
}

.form-type-select {
    margin: 0;
}

#edit-comment-body-und-0-format-guidelines {
    padding-top: 15px;
}

#edit-comment-body-und-0-format-guidelines ul li {
    font-size: 12px;
    overflow: hidden;
    width: 100%;
}

#contacts .pane-contact {
    float: left;
    width: 48%;
}

#contacts .contact-information {
    float: right;
    width: 48%
}

#edit-comment-body-und-0-format {
    background: #e5e5e5;
    border: none;
}

#edit-comment-body-und-0-format .fieldset-wrapper>* {
    padding-left: 0;
    padding-right: 0;
}

#edit-comment-body-und-0-format .fieldset-wrapper {
    padding: 20px 20px;
}

#edit-comment-body-und-0-format .fieldset-wrapper label {
    display: inline;
}

#comment-form-wrapper {
    margin-top: 30px;
}

article.comment span.new {
    position: absolute;
    top: 0;
    right: 0;
}

.comment-preview {
    background: none;
}

.front #page-title {
    display: none;
}

#content h1.title {
    font-size: 24px;
}

h1,
h2,
h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    text-transform: none;
    margin-bottom: 0;
}

h3.field-label {
    float: left;
    margin-right: 10px;
}

.node h2 {
    color: #242424;
    font-size: 18px;
    margin: 0;
    line-height: normal;
    padding: 0px;
}

.node h2 a {
    text-decoration: none;
    color: #2b2b2b;
}

.node h2 a:hover {
    color: #3b8391;
}

article.node {
    padding-bottom: 30px;
}

.view-node a {
    display: inline-block;
    background: #252525;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px 9px;
}

.view-node a:hover {
    background: #3b8391;
}

.view-img {
    border: 8px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.view-img img {
    border-radius: 100%;
}

#block-block-6 h2 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 0px;
    letter-spacing: -2px;
    word-spacing: 3px;
}

#block-block-6 h3 {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    width: 40%;
    letter-spacing: -1px;
    margin: 0 auto 8px;
    padding: 0 10px 12px;
    font-size: 24px;
    line-height: 30px;
}

#block-block-6 h3.shrt {
    width: 30%;
}

#block-block-6 h3:after {
    position: absolute;
    top: 14px;
    height: 1px;
    background: #b4b4b4;
    content: "";
;
    margin-left: 0px;
    left: -999px;
    right: 100%;
    min-width: 100px;
}

#block-block-6 h3:before {
    position: absolute;
    top: 14px;
    height: 1px;
    background: #b4b4b4;
    content: "";
;
    margin-left: 0px;
    right: -999px;
    left: 100%;
    min-width: 100px;
}

#block-block-6 .wrapper {
    overflow: hidden;
    margin-bottom: 33px;
}

#block-block-6 .wrapper .img-block {
    float: left;
    padding: 0 2px 2px 0;
    margin-right: 10px;
    overflow: hidden;
}

#block-block-6 .wrapper .img-block .view-img {
    float: left;
}

#block-block-6 .view-node {
    text-align: center;
}

.extra {
    overflow: hidden;
}

#block-block-6 .extra {
    padding: 52px 0 0 5px;
}

#block-block-6 .wrapper .img-block .view-img:first-child {
    margin-right: -93px;
    position: relative;
    z-index: 300;
}

#block-views-node-service-block {
    width: 480px;
    border-right: 1px solid #d3d3d3;
    margin-right: 39px;
    float: left;
}

#block-views-node-service-block .content {
    padding-right: 55px;
}

#block-views-node-service-block .content h2 {
    margin-bottom: 5px;
}

.view-node-service .views-field-body-1 {
    margin-bottom: 31px;
}

#block-views-recent-news-block h2 {
    padding-right: 100px;
    margin-bottom: 24px;
}

#block-views-recent-news-block .view-content {
    margin-bottom: 24px;
}

#block-block-7 .heading-text {
    padding: 18px 0 21px 111px;
    background: url(../../../../../sites/all/themes/theme752/images/icon.png) 0 0 no-repeat;
}

#block-block-7 .heading-text h2 {
    margin-bottom: 1px;
}

#block-block-7 .join {
    float: right;
    background: url(../../../../../sites/all/themes/theme752/images/button-bg.gif) 0 0 repeat-x #e6e6e6;
    color: #1e2327;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 25px 14px 25px;
    border-bottom: 1px solid #d5d5d5;
    margin-top: 13px;
}

#block-block-7 .join:hover {
    background: url(../../../../../sites/all/themes/theme752/images/link.gif) 0 0 repeat-x #242424;
    color: #fff;
}

.content-bottom {
    padding: 30px 0;
    border: 1px solid #cbcbcb;
    border-width: 1px 0;
}

.region-content-bottom {
    margin: 0 auto;
    width: 944px;
}

.view-about-company .views-row {
    overflow: hidden;
}

.view-about-company .views-row .views-field-field-blog-image {
    float: left;
    margin-right: 20px;
}

.view-about-company .views-row .views-field-body {
    font-weight: bold;
    color: #000;
}

.view-about-company .views-row .views-field-body-1 {
    margin-bottom: 25px;
}

.view-services .view-content {
    overflow: hidden;
}

.view-services .view-content .views-row {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    width: 220px;
    margin-right: 20px;
    text-align: center;
    padding: 123px 18px 27px;
    background: url(../../../../../sites/all/themes/theme752/images/services-icon1.png) center 21px no-repeat;
}

.view-services .view-content .views-row.views-row-2 {
    background: url(../../../../../sites/all/themes/theme752/images/services-icon2.png) center 21px no-repeat;
}

.view-services .view-content .views-row.views-row-3 {
    background: url(../../../../../sites/all/themes/theme752/images/services-icon3.png) center 21px no-repeat;
}

.view-services .view-content .views-row.views-row-4 {
    background: url(../../../../../sites/all/themes/theme752/images/services-icon4.png) center 21px no-repeat;
}

.view-services .view-content .views-row .views-field-title {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    color: #2b2b2b;
    margin-bottom: 12px;
}

.view-services .view-content .views-row .views-field-body {
    margin-bottom: 20px;
}

.view-services .view-content .views-row.views-row-last {
    margin-right: 0;
}

.serviecs-overview ul {
    float: right;
    margin-left: 20px;
    padding-top: 39px;
}

.serviecs-overview {
    padding: 0 2px 2px;
    overflow: hidden;
    margin-bottom: 20px;
}

.pane-views-services-block {
    margin-bottom: 40px;
}

.serviecs-overview .view-img {
    float: left;
    margin-right: 15px;
}

.serviecs-overview .extra {
    overflow: hidden;
    padding-top: 15px;
}

.serviecs-overview h2 {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 22px;
}

p.submitted {
    font-size: 12px;
    color: #383838;
    margin: 5px 0 15px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.submitted,
p.submitted span {
    color: #383838;
}

.submitted a {
    color: #383838;
    text-decoration: none;
}

.submitted a:hover {
    color: #000;
}

article.node footer {
    padding-top: 10px;
}

article.node.node-teaser {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c8c8c8;
}

article footer ul.links.inline {
    overflow: hidden;
    display: block;
}

article footer ul li {
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
    padding: 0!important;
}

article footer ul li.first {
    margin-left: 0;
}

ul.links li a {
    display: inline-block;
    background: url(../../../../../sites/all/themes/theme752/images/link.gif) 0 0 repeat-x #252525;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px 9px;
}

ul.links li a:hover {
    background: #3b8391;
}

.node-teaser .comment-add {
    display: none;
}

article.node footer .field-name-field-tags {
    padding-bottom: 10px;
}

article.node footer .field-name-field-tags .field-label {
    color: #000;
    float: left;
    font-size: 15px;
    padding-right: 10px;
}

article.node footer .field-name-field-tags .field-items {
    overflow: hidden;
    padding-bottom: 15px;
    width: 100%;
}

article.node footer .field-name-field-tags ul li {
    float: left;
    padding: 0 4px;
    margin-right: 10px;
}

article.node footer .field-name-field-tags ul li a {
    background: none;
    font-size: 12px;
    color: #242424;
    text-decoration: underline;
    padding: 0;
}

article.node footer .field-name-field-tags ul li a:hover {
    text-decoration: none;
}

.page-page-404 #search-block-form {
    width: 400px;
}

.panel-separator {
    display: none;
}

.panel-pane.error-page {
    margin-bottom: 30px;
}

.panel-pane.error-page .pane-content {
    overflow: hidden;
}

.panel-pane.error-page .pane-content span.err {
    color: #242424;
    float: left;
    font-weight: bold;
    font-size: 150px;
    line-height: 180px;
}

.panel-pane.error-page .pane-content .extra {
    background: url(../../../../../sites/all/themes/theme752/images/v_line.gif) 40px 0 repeat-y;
    padding-left: 80px;
    max-width: 300px;
}

.panel-pane.error-page .pane-content .err-title {
    color: #000;
    display: block;
    font-size: 70px;
    line-height: 84px;
    padding-top: 20px;
    text-transform: uppercase;
}

.panel-pane.error-page .pane-content .err-body {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    width: 300px;
}

.page-page-404 .pane-search-form {
    text-align: center;
}

.page-page-404 .pane-search-form .pane-content {
    display: inline-block;
    padding-top: 40px;
}

.page-page-404 .pane-search-form #search-block-form .form-text {
    width: 300px;
}

.extra {
    overflow: hidden;
}

html.js .collapsible.collapsed.collapsible .fieldset-legend {
    background-image: url(../../../../../sites/all/themes/theme752/images/menu-collapsed.png);
}

html.js .collapsible.collapsible .fieldset-legend {
    background-image: url(../../../../../sites/all/themes/theme752/images/menu-expanded.png);
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
    background: url(../../../../../sites/all/themes/theme752/images/input.png) 0 0 repeat;
    border: 1px solid #cdcdcd;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 8px 5px 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.block {
    margin-bottom: 10px;
    padding-bottom: 15px;
}

aside section.block {
    margin-bottom: 20px;
    padding-bottom: 25px;
}

section.block ul,
section.block .item-list ul li {
    margin: 0;
}

ul li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.block h2 {
    margin-bottom: 22px;
}

section.block .content li,
.panel-pane li {
    background: url(../../../../../sites/all/themes/theme752/images/list-marker.png) 0 0 no-repeat;
    padding: 2px 0 8px 36px;
    overflow: hidden;
    line-height: 21px;
    font-size: 13px;
}

section.block .content li.collapsed {
    margin: 0;
}

section.block .content li a {
    color: #83868a;
    text-decoration: none;
}

section.block .content li a:hover {
    color: #000;
    text-decoration: underline;
}

.poll .bar {
    background-color: #fff;
    border: 1px solid #b4b4b4;
    padding: 1px;
    height: 10px;
    margin-bottom: 15px;
}

.poll .bar .foreground {
    height: 10px;
    display: none;
    background-color: #0f6577;
}

.poll .percent {
    float: right;
}

.poll .vote-form {
    text-align: left;
    padding-bottom: 15px;
}

.poll .vote-form .choices {
    width: 100%;
}

#block-poll-recent ul.links li a {
    display: inline;
    background: none;
    box-shadow: none;
}

#block-comment-recent .content li a {
    display: block;
}

#block-forum-new .contextual-links-wrapper {
    display: none;
}

#block-system-navigation .content li {
    margin: 0;
}

#block-search-form {}

#block-search-form .form-text,
#search-block-form .container-inline .form-text {
    width: 100%;
    padding: 8px 5px;
    border: none;
    background: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#block-search-form .container-inline,
#search-block-form .container-inline {
    overflow: hidden;
    background: #e1e1e1;
    display: inline-block;
}

#block-search-form .container-inline .form-item,
#search-block-form .container-inline .form-item {
    float: left;
    margin: 0;
}

#block-search-form .container-inline .form-actions,
#search-block-form .container-inline .form-actions {
    float: right;
}

#block-search-form .form-submit,
#search-block-form .form-submit {
    background: url(../../../../../sites/all/themes/theme752/images/search.png) no-repeat center center;
    border: 0;
    line-height: normal;
    width: 31px;
    height: 32px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    text-indent: -9999px;
}

#search-block-form #edit-submit:hover,
#search-block-form .form-submit:hover {}

.form-submit {
    display: inline-block;
    background: url(../../../../../sites/all/themes/theme752/images/link.gif) 0 0 repeat-x #252525;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px 9px;
    border: none;
}

.form-submit:hover {
    background: #3b8391;
}

#footer {
    background: url(../../../../../sites/all/themes/theme752/images/dashed-line.png) 0 0 repeat-x;
    clear: both;
    padding: 62px 0;
    position: relative;
}

.region-footer {
    width: 940px;
    margin: 0 auto;
}

.footer-top {
    padding: 46px 0 46px;
}

.region-footer-top {
    width: 940px;
    margin: 0 auto;
}

.parnters {
    overflow: hidden;
}

.parnters .partner-logo {
    float: left;
    margin-right: 59px;
}

.parnters .partner-logo.last {
    margin: 0;
}

#block-block-5 {
    float: right;
    padding-top: 19px;
}

#block-block-5 .content {
    text-transform: uppercase;
    color: #555454;
    font-size: 12px;
}

#block-block-5 .content a {
    color: #555454;
    text-decoration: none;
}

#block-block-5 .content a:hover {
    text-decoration: underline;
}

#back-top span#button {
    display: none;
}

#back-top span#link {
    display: block;
    width: 60px;
    height: 40px;
    padding-top: 20px;
    background: url(../../../../../sites/all/themes/theme752/images/to-top.png) 0 0 no-repeat;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #464646;
}

#back-top span#link:hover {
    color: #83868a;
}

.corporate_governance.panel-pane .pane-content {
    overflow: hidden;
}

.corporate_governance.panel-pane .corporate {
    float: left;
    width: 290px;
    overflow: hidden;
    margin-left: 10px;
}

.corporate_governance.panel-pane .corporate:first-child {
    margin-left: 0;
}

.corporate_governance.panel-pane .corporate .dropc {
    width: 53px;
    height: 50px;
    padding-top: 4px;
    background: url(../../../../../sites/all/themes/theme752/images/dropcap.png) 0 0 no-repeat;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: #2b2b2b;
    text-transform: uppercase;
}

.corporate_governance.panel-pane .corporate .title {
    margin-bottom: 15px;
    font-weight: bold;
    color: #2b2b2b;
}

#block-block-6 {
    margin-bottom: 46px;
}

#block-block-9 {
    float: left;
}

#block-block-9 .content {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    color: #2b2b2b;
}

#block-follow-site {
    overflow: hidden;
    padding-right: 62px;
    padding-top: 5px;
}

#block-follow-site .content {
    text-align: center;
}

a.follow-link {
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    display: inline-block;
    margin: 5px 2px 8px 0;
    padding: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

a.follow-link:hover {
    padding-bottom: 3px;
    background-position: 0 bottom;
}

.action-links {
    padding: 15px 0px;
}

.action-links a {
    font-size: 12px;
}

.action-links a:hover {
    text-decoration: none;
}

#forum a {
    color: #242424;
    font-size: 13px;
}

#forum table {
    border: 1px solid #c8c8c8;
    width: 100%;
}

#forum th {
    background: #242424;
    border: 1px solid #535353;
    color: #fff;
    font-size: 14px;
    padding: 3px 5px;
}

#forum th a {
    color: #fff;
}

#forum td.container {
    padding: 10px;
}

#forum td {
    border: 1px solid #c8c8c8;
    padding: 5px;
}

#forum td.topics,
#forum td.posts,
#forum td.replies {
    text-align: center;
}

#forum td.last-reply span,
#forum td.title span {
    color: #535353;
}

.field-name-taxonomy-forums {
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
}

.field-name-taxonomy-forums .field-label {
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 20px;
}

.field-name-taxonomy-forums .links a {
    background: none;
    box-shadow: none;
    color: #242424;
    display: inline;
    font-size: 14px;
    padding: 0;
    text-transform: none;
}

.field-name-taxonomy-forums .links a:hover {
    color: #459aaa;
    background: none;
}

tr.odd,
tr.even {
    background: #e3e3e3;
    border-bottom: 1px solid #E0E0E0;
}

tr.even {
    background: #f8f8f8;
}

#first-time {
    display: none;
}

#first-time p {
    padding: 10px 0;
}

#first-time .item-list ul li {
    background: none;
    display: block;
    float: left;
    margin: 0;
}

#first-time .item-list ul li a {
    color: #242424;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#first-time .item-list ul li:hover {
    background: none;
}

#first-time .item-list ul li a:hover {
    background: none;
}

.content ul.pager {
    overflow: hidden;
}

.content ul.pager li {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
}

.content ul.pager li.pager-current {
    display: inline-block;
    background: #8f8f8f;
    padding: 6px 10px 7px;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

.content ul.pager li a {
    display: inline-block;
    background: url(../../../../../sites/all/themes/theme752/images/link.gif) 0 0 repeat-x #252525;
    padding: 6px 10px 7px;
    text-decoration: none;
    color: #fff;
}

.content ul.pager li a:hover {
    background: #8f8f8f;
    color: #fff;
}

ul.contextual-links li a:hover {}

#block-views-slider-block {
    padding-top: 36px;
}

#block-views-slider-block .flex-direction-nav {
    display: none;
}

#block-views-slider-block .view-footer {
    clear: both;
    padding-top: 43px;
}

.view-articles .view-content {
    margin-right: -2px;
    padding-bottom: 10px;
}

.view-articles .view-content:after {
    clear: both;
    width: 100%;
    content: "";
    display: block;
}

.view-articles .views-row {
    float: left;
    width: 221px;
    background: #f5f7f6;
    height: 221px;
    margin-right: 19px;
    border-radius: 110px;
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
}

.view-articles .views-row .views-field-nothing {
    text-align: center;
    padding: 80px 20px 0;
}

.view-articles .views-row .views-field-nothing .title {
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: #2b2b2b;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 26px;
}

.view-articles .views-row .views-field-nothing .view-link a {
    background: url(../../../../../sites/all/themes/theme752/images/marker.png) 0 0 no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    width: 33px;
    height: 34px;
}

.view-slider .flex-control-nav {
    padding-left: 2px;
}

.view-slider .flex-control-nav li {
    margin: 0 0px 0 3px;
}

.view-slider .flex-control-nav li:first-child {
    margin-left: 0;
}

.view-slider .flex-control-nav li a {
    background: url(../../../../../sites/all/themes/theme752/images/pager.png) right 0 no-repeat;
    width: 27px;
    height: 27px;
}

.view-slider .view-content {
    padding-bottom: 126px;
}

.view-slider .flex-control-nav {
    bottom: -348px;
}

.view-slider .flex-control-nav li a:hover,
.view-slider .flex-control-nav li a.active {
    background-position: 0 0;
}

.view-articles .views-row.views-row-last {
    margin-right: 0;
}

.flexslider {
    background: none;
    border: none;
    border-radius: 0;
}

.view-slider .flexslider_views_slideshow_slide .views-field-body {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -5px;
    word-spacing: 5px;
}

.view-slider .flexslider_views_slideshow_slide .views-field-body .l1 {
    font-size: 100px;
    line-height: 72px;
    margin-bottom: 9px;
    font-weight: bold;
    letter-spacing: -6px;
    display: block;
}

.view-slider .flexslider_views_slideshow_slide .views-field-body .l2 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -3px;
    padding-top: 4px;
    display: block;
}

.flex-nav-container {
    margin-bottom: 0;
}

#block-views-recent-news-block {
    overflow: hidden;
}

.node-teaser .field-type-image,
.node-employee .field-type-image {
    float: left;
    margin: 0 20px 6px 0;
}

.field-type-image {
    float: left;
    margin: 0 20px 5px 0;
    border: 8px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.field-type-image img {
    border-radius: 100%;
}

.profile .user-picture {
    margin-left: 20px;
}

.profile h3 {
    overflow: hidden;
}

.pane-block.pane-views-our-team-block {
    padding: 50px 0 0 0;
    margin-bottom: 46px;
}

.view-our-team .view-content:after {
    clear: both;
    width: 100%;
    content: "";
    display: block;
}

.view-our-team .views-row {
    float: left;
    width: 183px;
    text-align: center;
    margin-right: 20px;
}

.view-our-team .views-row .view-img {
    margin-bottom: 18px;
}

.view-our-team .views-row .views-field-title {
    font-weight: bold;
}

.view-our-team .views-row .views-field-title a {
    color: #383838;
    text-decoration: none;
}

.view-our-team .views-row .views-field-title a:hover {
    color: #83868a;
}

.view-our-team .views-row.views-row-last {
    margin-right: 0;
}

.author-info {
    padding-top: 26px;
    color: #383838;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
}

.author-info .author {
    font-weight: bold;
}

.quote-block {
    margin-right: 2px;
    border-radius: 8px;
    position: relative;
    background: url(../../../../../sites/all/themes/theme752/images/quote-block.gif) 0 0 repeat-x #f1f1f1;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.quote-block .corner {
    position: absolute;
    width: 42px;
    height: 30px;
    background: url(../../../../../sites/all/themes/theme752/images/quote-block-corner.png) 0 0 no-repeat;
    left: 127px;
    bottom: -30px;
}

.quote-block .inner {
    background: url(../../../../../sites/all/themes/theme752/images/quotes.png) 20px 22px no-repeat;
    padding: 36px 20px 22px 50px;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
    font-style: italic;
}

.view-portfolio .view-content {
    overflow: hidden;
    margin-right: -20px;
}

.view-portfolio .views-row {
    float: left;
}

.view-portfolio .views-row .views-field-field-portfolio-image {
    background: url(../../../../../sites/all/themes/theme752/images/ajax-loader.gif) center center no-repeat #fff;
    border: 0px solid #e0e0e0;
    margin-bottom: 23px;
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.view-portfolio .views-row .views-field-field-portfolio-image a {
    display: block;
    background: url(../../../../../sites/all/themes/theme752/images/magnify23.png) center center no-repeat #fff;
    padding: 8px;
    border-radius: 100%;
}

.view-portfolio .views-row .views-field-field-portfolio-image a img {
    border-radius: 100%;
}

.view-portfolio .views-row .views-field-title {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.view-portfolio .views-row .views-field-title a {
    text-decoration: none;
    color: #2b2b2b;
}

.view-portfolio .views-row .views-field-title a:hover {
    color: #83868a;
}

.page-portfolio .view-portfolio .views-row {
    width: 218px;
    margin: 0 20px 35px 0;
    text-align: center;
}

.page-portfolio .view-portfolio .views-row .views-field-field-portfolio-image {
    height: 218px;
    width: 218px;
}

.page-portfolio-1-col .view-portfolio .views-row {
    float: none;
    overflow: hidden;
    margin-bottom: 40px;
}

.page-portfolio-1-col .view-portfolio .views-row .views-field-field-portfolio-image {
    height: 307px;
    width: 307px;
    float: left;
    margin-right: 20px;
}

.page-portfolio-1-col .view-portfolio .views-row .views-field-title {
    margin-bottom: 15px;
}

.page-portfolio-1-col .view-portfolio .views-row .views-field-body {
    margin-bottom: 20px;
}

.page-portfolio-2-cols .view-portfolio .views-row {
    width: 460px;
    margin: 0 20px 35px 0;
}

.page-portfolio-2-cols .view-portfolio .views-row .views-field-title {
    margin-bottom: 12px;
}

.page-portfolio-2-cols .view-portfolio .views-row .views-field-body {
    padding-right: 10px;
}

.page-portfolio-2-cols .view-portfolio .views-row.views-row-even {
    margin-right: 0;
}

.page-portfolio-2-cols .view-portfolio .views-row .views-field-field-portfolio-image {
    height: 219px;
    width: 219px;
    float: left;
    margin-right: 20px;
}

.page-portfolio-3-cols .view-portfolio .views-row {
    width: 300px;
    margin: 0 20px 35px 0;
    line-height: 18px;
    text-align: center;
}

.page-portfolio-3-cols .view-portfolio .views-row .views-field-field-portfolio-image {
    height: 298px;
    width: 298px;
}

.sf-menu,
.sf-menu * {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sf-menu {
    line-height: 1.0;
    z-index: 497;
}

.sf-menu ul {
    position: absolute;
    top: -99999em;
    width: 12em;
}

.sf-menu ul li {
    width: 100%;
}

.sf-menu li:hover {
    visibility: inherit;
}

.sf-menu li {
    float: left;
    position: relative;
    z-index: 498;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    z-index: 499;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left: 0;
    top: 2.5em;
}

.sf-menu li:hover li ul,
.sf-menu li.sfHover li ul,
.sf-menu li li:hover li ul,
.sf-menu li li.sfHover li ul {
    top: -99999em;
}

.sf-menu li li:hover ul,
.sf-menu li li.sfHover ul,
.sf-menu li li li:hover ul,
.sf-menu li li li.sfHover ul {
    left: 12em;
    top: 0;
}

.sf-menu a.sf-with-ul {
    min-width: 1px;
}

.sf-sub-indicator {
    background: url('../../../../../sites/all/libraries/superfish/images/arrows-ffffff.png') no-repeat -10px -100px;
    display: block;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 0.75em;
    text-indent: -999em;
    top: 1.05em;
    width: 10px;
}

a>.sf-sub-indicator {
    top: 0.8em;
    background-position: 0 -100px;
}

a:focus>.sf-sub-indicator,
a:hover>.sf-sub-indicator,
a:active>.sf-sub-indicator,
li:hover>a>.sf-sub-indicator,
li.sfHover>a>.sf-sub-indicator {
    background-position: -10px -100px;
}

.sf-menu ul .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-menu ul a>.sf-sub-indicator {
    background-position: 0 0;
}

.sf-menu ul a:focus>.sf-sub-indicator,
.sf-menu ul a:hover>.sf-sub-indicator,
.sf-menu ul a:active>.sf-sub-indicator,
.sf-menu ul li:hover>a>.sf-sub-indicator,
.sf-menu ul li.sfHover>a>.sf-sub-indicator {
    background-position: -10px 0;
}

.sf-shadow ul {
    background: url('../../../../../sites/all/libraries/superfish/images/shadow.png') no-repeat bottom right;
    padding: 0 8px 9px 0;
}

.sf-shadow ul.sf-shadow-off {
    background: transparent;
}

.sf-menu.rtl,
.sf-menu.rtl li {
    float: right;
}

.sf-menu.rtl li:hover ul,
.sf-menu.rtl li.sfHover ul {
    right: 0;
}

.sf-menu.rtl li li:hover ul,
.sf-menu.rtl li li.sfHover ul,
.sf-menu.rtl li li li:hover ul,
.sf-menu.rtl li li li.sfHover ul {
    right: 12em;
}

.sf-menu.rtl a.sf-with-ul {
    padding-left: 2.25em;
    padding-right: 1em;
}

.sf-menu.rtl .sf-sub-indicator {
    left: 0.75em;
    right: auto;
    background: url('../../../../../sites/all/libraries/superfish/images/arrows-ffffff-rtl.png') no-repeat -10px -100px;
}

.sf-menu.rtl a>.sf-sub-indicator {
    top: 0.8em;
    background-position: -10px -100px;
}

.sf-menu.rtl a:focus>.sf-sub-indicator,
.sf-menu.rtl a:hover>.sf-sub-indicator,
.sf-menu.rtl a:active>.sf-sub-indicator,
.sf-menu.rtl li:hover>a>.sf-sub-indicator,
.sf-menu.rtl li.sfHover>a>.sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-menu.rtl ul .sf-sub-indicator {
    background-position: 0 0;
}

.sf-menu.rtl ul a>.sf-sub-indicator {
    background-position: -10px 0;
}

.sf-menu.rtl ul a:focus>.sf-sub-indicator,
.sf-menu.rtl ul a:hover>.sf-sub-indicator,
.sf-menu.rtl ul a:active>.sf-sub-indicator,
.sf-menu.rtl ul li:hover>a>.sf-sub-indicator,
.sf-menu.rtl ul li.sfHover>a>.sf-sub-indicator {
    background-position: 0 0;
}

.sf-navbar.rtl li li:hover ul,
.sf-navbar.rtl li li.sfHover ul {
    right: 0;
}

.sf-navbar.rtl li li li:hover ul,
.sf-navbar.rtl li li li.sfHover ul {
    right: 12em;
}

.sf-vertical.rtl li:hover ul,
.sf-vertical.rtl li.sfHover ul {
    left: auto;
    right: 12em;
}

.sf-navbar.rtl ul .sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-navbar.rtl ul a>.sf-sub-indicator {
    background-position: -10px -100px;
}

.sf-navbar.rtl ul a:focus>.sf-sub-indicator,
.sf-navbar.rtl ul a:hover>.sf-sub-indicator,
.sf-navbar.rtl ul a:active>.sf-sub-indicator,
.sf-navbar.rtl ul li:hover>a>.sf-sub-indicator,
.sf-navbar.rtl ul li.sfHover>a>.sf-sub-indicator {
    background-position: 0 -100px;
}

.sf-navbar.rtl ul ul .sf-sub-indicator {
    background-position: 0 0;
}

.sf-navbar.rtl ul ul a>.sf-sub-indicator {
    background-position: -10px 0;
}

.sf-navbar.rtl ul ul a:focus>.sf-sub-indicator,
.sf-navbar.rtl ul ul a:hover>.sf-sub-indicator,
.sf-navbar.rtl ul ul a:active>.sf-sub-indicator,
.sf-navbar.rtl ul ul li:hover>a>.sf-sub-indicator,
.sf-navbar.rtl ul ul li.sfHover>a>.sf-sub-indicator {
    background-position: 0 0;
}

.sf-vertical.rtl .sf-sub-indicator {
    background-position: -10px 0;
}

.sf-vertical.rtl a>.sf-sub-indicator {
    background-position: 0 0;
}

.sf-vertical.rtl a:focus>.sf-sub-indicator,
.sf-vertical.rtl a:hover>.sf-sub-indicator,
.sf-vertical.rtl a:active>.sf-sub-indicator,
.sf-vertical.rtl li:hover>a>.sf-sub-indicator,
.sf-vertical.rtl li.sfHover>a>.sf-sub-indicator {
    background-position: -10px 0;
}